
body{

  padding: 0;
 color: white;
 background-color: rgb(175, 225, 245);
 display: flex;
 flex-direction: column;
 align-items: center;
 
}
.App
{
 /* margin: auto;
 transform: translateY(13%);
 
  display: flex;
  flex-direction: column;
  align-items: center; */
  width: 350px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: rgb(48, 48, 245);
 




 
}
nav
{
  
 
  display: flex;
 justify-content: center;
 align-items: center;
 height: 80px;
}
 h1{
  font-size: 40px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body
{
  
  background-color: rgb(248, 245, 245);
  width: 100%;
  border-top-left-radius:40px;
  border-top-right-radius:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* height: calc(100% + 20px); */
}

img
{
  height: 120px;
  width: 120px;
  margin-top: 20px;
 
}
.formdata
{
  margin: auto;
}

.form-group
{
  
  margin-bottom: 25px ;
  transition: all .3s;
  
 
}
.form-label
{
  font-size: 15px;
  font-weight: bold;
  display: block;
  
  transform-origin: 0 0;
  transition: all .3s;
  /* color: transparent; */
 
  transform: translate(10px, -53px);
  background-color:rgb(248, 245, 245) ;
  font-weight: normal;
  color:purple;
  width: fit-content;
}

.form-control
{
  border: 1px solid black;
  width: 280px;
  height: 35px;
  border-radius: 7px;
  font-size: 20px;
  transition: all .3s;
  align-items: center;
}
/* .form-control::placeholder
{
 color: black; 
} */
.form-control:focus
{
  border: 1px solid purple;
  outline:  purple;
  
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label
{
  transform: translate(10px, -53px);
  background-color:rgb(248, 245, 245) ;
  font-weight: normal;
  color:purple;
  width: fit-content;
}


.btn{
  
  font-size: 20px;
  background-color:rgb(48, 48, 245) ;
  color: white;
   border: none;
  outline: none; 
  width: 280px;
  padding:10px 0;
  border-radius: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}
.error
{
  margin-bottom: 30px;
  color: red;
  font-weight: bold;
}
@media(max-width: 700px)
{
  body
  {
margin: 0;
padding: 0;
  }
  .body
  {
    height:calc(100vh - 80px) ;
  }
  .App{
    width: 100vw;
  border: none;
  height:100vh ;
top: 0;
left: 0;
transform: none;
  }
  img
  {
    height: 110px;
    width: 120px;
    margin-top: 15px;
  } 
  .form-control
{
  border: 1px solid purple;
  width: 280px;
  /* height: 35px; */
  /* border-radius: 10px; */
  font-size: 20px;
  transition: all .5s;
}
.btn
{
  width: 280px;
  
  margin-top: 20px;
}

}